
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  Importing the fonts 
} */

@font-face {
  font-family: "Gellix";
  src: url("./Fonts/Gellix-Thin.woff");
  font-weight: 100;
  font-style: thin;
}
@font-face {
  font-family: "Gellix";
  src: url("./Fonts/Gellix-Light.woff");
  font-weight: 200;
  font-style: extralight;
}
@font-face {
  font-family: "Gellix";
  src: url("./Fonts/Gellix-Light.woff");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Gellix";
  src: url("./Fonts/Gellix-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  src: url("./Fonts/Gellix-Medium.woff");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Gellix";
  src: url("./Fonts/Gellix-SemiBold.woff");
  font-weight: 600;
  font-style: semibold;
}
@font-face {
  font-family: "Gellix";
  src: url("./Fonts/Gellix-Bold.woff");
  font-weight: 700;
  font-style: bold;
}

body{
  font-family: Gellix, sans-serif;
}

/* Custom styling for the date component */

.mobile-datepicker .month .month-title:before, .mobile-datepicker .month .month-title:after{
  display: none !important;
}
.mobile-datepicker .month .month-title{
  padding: 0 16px;
  width: fit-content !important;
  text-align: left !important;
  display: flex;
  gap: 4px;
  flex-direction: row-reverse;
  font-weight: 400 !important;
  align-items: center;
  font-size: 14px !important;
  color: #15162B !important;
  line-height: 20px !important;
  letter-spacing: normal !important;
}
.mobile-datepicker .month .month-title span {
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: normal !important;
  display: block;
  color: #15162B !important;
  line-height: 20px !important;
}
.mobile-datepicker .month ul.date li{
  color: #434455 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}
.mobile-datepicker .month ul.days {
  display: none !important;
}
.mobile-datepicker .month ul.date li.active span{
  background-color: #223E7C !important;
  transition: all;
  animation-duration: 3s;
}